.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rc-pagination-item-active {
    background-color: yellow;
    border: none;
}

.rc-pagination-item-active a {
    color: black;
}